{% load cms_tags sekizai_tags %}
<html>
  <head>
<!-- Change to dynamic content-->
<title>Салон красоты</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="New Hair Style Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free web designs for Nokia, Samsung, LG,sonyEricsson, Motorola web design" />
{% addtoblock "js" %}
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
{% endaddtoblock %}
{% addtoblock "css" %}
<link href="{{ MEDIA_URL }}css/bootstrap.css" rel='stylesheet' type='text/css' />
{% endaddtoblock %}
{% addtoblock "css" %}
<link href='//fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>
{% endaddtoblock %}
{% addtoblock "css" %}
<link href='//fonts.googleapis.com/css?family=Open+Sans:700,700italic,800,300,300italic,400italic,400,600,600italic' rel='stylesheet' type='text/css'>
{% endaddtoblock %}
{% addtoblock "css" %}
<link href='//fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic' rel='stylesheet' type='text/css'>
{% endaddtoblock %}
<!--Custom-Theme-files-->
{% addtoblock "css" %}
<link href="{{ MEDIA_URL }}css/style.css" rel='stylesheet' type='text/css' />	
{% endaddtoblock %}
{% addtoblock "css" %}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/slider.css">
{% endaddtoblock %}
{% addtoblock "js" %}
    <script src="{{ MEDIA_URL }}js/jquery.min.js"> </script>
{% endaddtoblock %}
<!--/script-->
{% addtoblock "js" %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/move-top.js"></script>
{% endaddtoblock %}
{% addtoblock "js" %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/easing.js"></script>
{% endaddtoblock %}
{% addtoblock "js" %}
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
</script>
{% endaddtoblock %}
      {% render_block "css" %}
  </head>
  <body>
      {% cms_toolbar %}F
      {% placeholder base_content %}
      {% block base_content %}{% endblock %}
<div class="top_banner">
		<!-- SVG Arrows -->
		<div class="svg-wrap">
			<svg width="64" height="64" viewBox="0 0 64 64">
				<path id="arrow-left" d="M46.077 55.738c0.858 0.867 0.858 2.266 0 3.133s-2.243 0.867-3.101 0l-25.056-25.302c-0.858-0.867-0.858-2.269 0-3.133l25.056-25.306c0.858-0.867 2.243-0.867 3.101 0s0.858 2.266 0 3.133l-22.848 23.738 22.848 23.738z" />
			</svg>
			<svg width="64" height="64" viewBox="0 0 64 64">
				<path id="arrow-right" d="M17.919 55.738c-0.858 0.867-0.858 2.266 0 3.133s2.243 0.867 3.101 0l25.056-25.302c0.858-0.867 0.858-2.269 0-3.133l-25.056-25.306c-0.858-0.867-2.243-0.867-3.101 0s-0.858 2.266 0 3.133l22.848 23.738-22.848 23.738z" />
			</svg>
		</div>
		<div class="menu wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">
			<div class="socialCircle-container">
			  <div class="socialCircle-item"><a class="scroll" href="#contact"><i class="glyphicon glyphicon-envelope"></i></a></div>
			  <div class="socialCircle-item"><a class="scroll" href="#gallery"><i class="glyphicon glyphicon-picture"></i></a></div>
			  <div class="socialCircle-item"><a class="scroll" href="#review"><i class="glyphicon glyphicon-retweet"></i></a></div>
			  <div class="socialCircle-item"><a class="scroll" href="#staff"><i class="glyphicon glyphicon-briefcase"></i></a></div>
			  <div class="socialCircle-item"><a class="scroll" href="#service"><i class="glyphicon glyphicon-cog"></i></a></div>
			  <div class="socialCircle-item"><a class="scroll" href="#promotion"><i class="glyphicon glyphicon-bullhorn"></i></a></div>
              <div class="socialCircle-center closed"><i class="fa fa-share-alt"></i></div>
			</div>
		</div>
{% addtoblock "js" %}
		<script src="{{ MEDIA_URL }}js/socialCircle.js"></script>
{% endaddtoblock %}
{% addtoblock "js" %}
		<script type="text/javascript">
		$( ".socialCircle-center" ).socialCircle({
			rotate: 0,
			radius:140,
			circleSize: 2,
			speed:500
		});
		</script>
{% endaddtoblock %}
		<div class="logo wow fadeInRight" data-wow-duration=".8s" data-wow-delay=".5s">
			<!--<h1><a href="base.html"><span>Beauty Bar </span></a></h1>-->
<p align="left"><h1>{% placeholder link_slider %}</h1></p>
		</div>
		
		<div class="sleekslider" id="home">
			<!-- Slider Pages -->
			<div class="slide active bg-1">
				<div class="slide-container">
					<div class="slide-content">
						<p class="wow fadeInLeft" data-wow-duration=".8s" data-wow-delay=".2s">Волосы забавляют</p>	
					</div>

				</div>
			</div>
			<div class="slide bg-2">
				<div class="slide-container">
					<div class="slide-content">
						<p class="wow fadeInLeft" data-wow-duration=".8s" data-wow-delay=".4s">Маникюр приносит радость</p>	

					</div>
				</div>				
			</div>
			<div class="slide bg-3">
				<div class="slide-container">
					<div class="slide-content">
						<p class="wow fadeInLeft" data-wow-duration=".8s" data-wow-delay=".4s">Образ впечатляет</p>	

					</div>
				</div>				
			</div>
			<div class="slide bg-4">
				<div class="slide-container">
					<div class="slide-content">
						<p class="wow fadeInLeft" data-wow-duration=".8s" data-wow-delay=".4s">Сделай себя счастливой</p>	

					</div>
				</div>				
			</div>
			<div class="slide bg-5">
				<div class="slide-container">
					<div class="slide-content">
<!--TODO: change to dynamic content-->
						<p class="wow fadeInLeft" data-wow-duration=".8s" data-wow-delay=".4s">Приходи в Beauty Bar</p>	

					</div>
				</div>				
			</div>

			<!-- Navigation Arrows with Thumbnails -->
			<nav class="nav-split">
				<a class="prev" href="">
					<span class="icon-wrap"><svg class="icon" width="22" height="22" viewBox="0 0 64 64"><use xlink:href="#arrow-left" /></svg></span>
					<div>
<!--TODO: Set a dynamic content-->
						<h3>previous</h3>
						<img alt="Previous thumb"/>
					</div>
				</a>
				<a class="next" href="">
					<span class="icon-wrap"><svg class="icon" width="22" height="22" viewBox="0 0 64 64"><use xlink:href="#arrow-right" /></svg></span>
					<div>
<!--TODO: Set a dynamic content-->
						<h3>next</h3>
						<img alt="Next thumb"/>
					</div>
				</a>
			</nav>

			<!-- Pagination -->
			<nav class="pagination">
				<span class="current"></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</nav>

			<!-- Navigation Tabs -->
			<nav class="tabs">
				<div class="tab-container">
					<ul>
						<li class="current"><a href="#"><span>01</span> Волосы</a></li>
						<li><a href="#"><span>02</span> Маникюр</a></li>
						<li><a href="#"><span>03</span> Макияж</a></li>
						<li><a href="#"><span>04</span> Почуствуй счастье</a></li>
						<li><a href="#"><span>05</span> Мы ждем тебя</a></li>
					</ul>
				</div>
			</nav>
		</div>

		<!-- JavaScripts -->
{% addtoblock "js" %}
		<script type="text/javascript" src="{{ MEDIA_URL }}js/sleekslider.min.js"></script>
{% endaddtoblock %}
{% addtoblock "js" %}
		<script type="text/javascript" src="{{ MEDIA_URL }}js/app.js"></script>
{% endaddtoblock %}
      <!--welcome-->
 </div>
	<div class="welcome" id="promotion">
		<div class="container">
		   <div class="sub-head">
			<h2 class="title wow bounceIn"  data-wow-duration=".8s" data-wow-delay=".2s">Наши предложения</h2>
			    <!--<img src="images/border.png" alt="">-->
{% placeholder border_png %}
			</div>
			<div class="welcome-info">
				<p class="wel-text wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".4s">Только у нас вы можете сделать 3 процедуры одновременно и по привлекательной цене: процедуру "счастье для волос", создание образа и маникюр! Успевайте, количество мест ограничено!.</p>			
					<div class="welcome-row">
						<div class="col-md-6 welcome-grid wow fadeInCenter" data-wow-duration=".8s" data-wow-delay=".3s">
							<div class="welcome-left">
								<div class="welcome-grids">
								   <div class="promo-info">
								       <h5 class="promo-desc">3=2</h5>
										<p class="promo-bg2">Выгодно</p>
									</div>
								</div>
						     </div>
					       <div class="promo-box welcome-mdl">
								<div class="promo-box-title title-with-divider">
									<h3>Акция только до 20 февраля</h3>
								</div>
								<p>Счастье для волос» - спа-программа для волос, которая делается на японской косметике Lebel.</p>
					      </div>
					   <div class="clearfix"> </div>
					</div>
					<div class="col-md-6 welcome-grid wow fadeInRight" data-wow-duration=".8s" data-wow-delay=".3s">
					   <div class="welcome-left">
								<div class="welcome-grids">
								   <div class="promo-info">
								       <h5 class="promo-desc">1000р.</h5>
										<p class="promo-bg2">Акция</p>
									</div>
								</div>
						     </div>
					       <div class="promo-box welcome-mdl">
								<div class="promo-box-title title-with-divider">
									<h3>Только до 8 марта</h3>
								</div>
								<p>Акция "знакомство с мастером".Комбинированный маникюр + покрытие гель-лак + любой дизайн! </p>
					      </div>
					   <div class="clearfix"> </div>
					</div>
				  <div class="clearfix"> </div>
					
				</div>
			</div>
		</div>
	</div>
	<!--//welcome-->
<div class="trainee-section" id="service">
		<div class="container">
		      <div class="sub-head">
			     <h3 class="title wow bounceIn"  data-wow-duration=".8s" data-wow-delay=".2s">Наши услуги</h3>
{% placeholder border_png2 %}
			     <!--<img src="images/border.png" alt="">-->
				 <p class="wel-text wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".4s">В нашем салоне Вы можете воспользоваться качественными услугами по привлекательным ценам. Мы вам предлагаем процедуру "счастье для волос", которая обогатит ваши волосы витаминами и полезными веществами, стрижки разной сложности, окрашивание волос, маникюр и педикюр.</p>
			   </div>
			<div class="trainee-grids">
				<div class="col-md-4 trainee-grid wow fadeInLeft" data-wow-duration=".8s" data-wow-delay=".4s">
					  <a href="base.html">
<!--<img src="images/b1.jpg" class="img-responsive" alt="">-->
{% placeholder b1 %}
</a>
					   <h4 class="title">Счастье для волос</h4>
						 <div class="date">
							 <lable>20</lable>
							 <span>Фев</span>
						 </div>
					  <a href="base.html"><h4>Современная процедура</h4><h5> для ваших волос.</h5></a>
					  
					 <p>Процедура состоит из 7 этапов. Каждый этап подразумевает нанесение маски либо сыворотки на ваши волосы.</p>
				</div>
				<div class="col-md-4 trainee-grid wow fadeInUp animated animated animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUpBig;">
					  <a href="base.html">{% placeholder b2 %}<!--<img src="images/b2.jpg" class="img-responsive" alt="">--></a>
					   <h4 class="title">Макияж</h4>
						<div class="date">
							 <lable>30</lable>
							 <span>Aug</span>
						 </div>
					  <a href="base.html"><h4>Макияж подчеркнет </h4><h5> все ваши достоинства.</h5></a>
					 <p>Наш мастер выполнит макияж в любой, понравившейся вам, технике.</p>
				</div>
				<div class="col-md-4 trainee-grid lost wow fadeInRight" data-wow-duration=".8s" data-wow-delay=".4s">
					 <a href="base.html">{% placeholder b3 %}<!--<img src="images/b3.jpg" class="img-responsive" alt="">--></a>
					  <h4 class="title">Маникюр</h4>
						 <div class="date">
							 <lable>15</lable>
							 <span>Nov</span>
						</div>
					 <a href="base.html"> <h4>Идеальное маникюр</h4><h5> и покрытие гель-лаком.</h5></a>
					 <p>Наш мастер может вылечить поврежденные ногти, донорастить длину, выполнить идеальное покрытие за короткое время.</p>
				</div>
				<div class="clearfix"></div>
		   </div>
		</div>
	</div>
	<!--/reviews-->
		<div id="staff" class="reviews">
		   <div class="container">
		     <div class="sub-head">
			     <h3 class="title wow bounceIn"  data-wow-duration=".8s" data-wow-delay=".2s">Наши мастера</h3>
{% placeholder img_border_masters %}{% placeholder img_border_masters %}
			     <!--<img src="images/border.png" alt="">-->
				 <p class="wel-text wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".4s">В нашей студии работают только профессиональные мастера, которые мастера смогут угодить вам и удовлетворить все ваши потребности..</p>
			   </div>
			     <div class="staff-section">
				    <div class="col-md-4 staff-grid  animated wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
				          <div class="view fifth-effect">
							{% placeholder href_full_image_staff1 %}
							 <!--<a href="base.html" title="Full Image"><img src="images/staff1.jpg" /></a>-->
							 <div class="mask"></div>
						  </div>
							<h4>Виктория</h4>
						  <p>Это лучший мастер, которого вы знали. Имеет множество наград, премий, сертификатов. Ваши волосы в надежных руках!</p>
							<ul class="social-icons">
								<li><a href="#"> </a></li>
								<li><a href="#" class="fb"> </a></li>
								<li><a href="#" class="in"> </a></li>
								<li><a href="#" class="dott"> </a></li>
							</ul>						  
				     </div>
					  <div class="col-md-4 staff-grid animated wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="500ms">
				         <div class="view fifth-effect">
							 <!--<a href="{{ picture.url }}" title="Full Image"><img src="images/staff2.jpg" /></a>-->
{% placeholder href_full_image_staff2 %}
							 <div class="mask"></div>
						</div>  
						<h4>Елена</h4>
						  <p>Создаст незабываемый образ для любого случая жизни. Заставит вас быть самой яркой и привлекательной на вашем мероприятии!</p>
							<ul class="social-icons">
								<li><a href="#"> </a></li>
								<li><a href="#" class="fb"> </a></li>
								<li><a href="#" class="in"> </a></li>
								<li><a href="#" class="dott"> </a></li>
							</ul>						
				     </div>
					 <div class="col-md-4 staff-grid animated wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms">
				          <div class="view fifth-effect">
							{% placeholder href_full_image_staff3 %}
							 <!--<a href="base.html" title="Full Image"><img src="images/staff3.jpg" /></a>-->
							 <div class="mask"></div>
						  </div>
						  <h4>Маргарита</h4>
						  <p>Сертифицированный мастер. В идеале владеет комбинированным маникюром, покрытием под кутикулу, может сдеть шедевральный дизайн!</p>
							<ul class="social-icons">
								<li><a href="#"> </a></li>
								<li><a href="#" class="fb"> </a></li>
								<li><a href="#" class="in"> </a></li>
								<li><a href="#" class="dott"> </a></li>
							</ul>
						  
				     </div>
					   <div class="clearfix"></div>
				 </div>
	      </div>
	</div>
<!--/reviews-->
	<div id="review" class="reviews">
		<div class="container">
		 <div class="sub-head">
			     <h3 class="title review wow bounceIn"  data-wow-duration=".8s" data-wow-delay=".2s">Отзывы</h3>
{% placeholder img_border_2 %}
			     <!--<img src="images/border2.png" alt="">-->
				 <h4 class="text welcome-grid wow flash" data-wow-duration=".8s" data-wow-delay=".4s">Ваши отзывы очень важны для нас. С помощью Вас мы становимся лучше.</h4>
			   </div>
				<div class="test-monials">
				<!--//screen-gallery-->
						<div class="sreen-gallery-cursual">
							 <!-- required-js-files-->
{% addtoblock "css" %}
							<link href="{{ MEDIA_URL }}css/owl.carousel.css" rel="stylesheet">
{% endaddtoblock %}
{% addtoblock "js" %}
							    <script src="{{ MEDIA_URL }}js/owl.carousel.js"></script>
{% endaddtoblock %}
{% addtoblock "js" %}
							        <script>
							    $(document).ready(function() {
							      $("#owl-demo").owlCarousel({
							        items : 1,
							        lazyLoad : true,
							        autoPlay : true,
							        navigation : false,
							        navigationText :  false,
							        pagination : true,
							      });
							    });
							    </script>
{% endaddtoblock %}
								 <!--//required-js-files-->
						       <div id="owl-demo" class="owl-carousel">
					                 <div class="item-owl">
					                		<div class="test-review">
											   <p class="wow fadeInUp"  data-wow-duration=".8s" data-wow-delay=".4s">{% placeholder left-quotes %}<!--<img src="images/left-quotes.png" alt="">--> Я в восторге от процедуры "счастье для волос"! Волосы стали живее и намного лучше выглядят. Спасибо большое мастеру, за объяснение всех этапов процедуры. Обязательно приду еще! <!--<img src="images/right-quotes.png" alt="">-->{% placeholder right-quotes3 %}</p>
						                	  <!--<img src="images/2.jpg" class="img-responsive" alt=""/>-->
{% placeholder img_2 %}
											  <h5 class="wow bounceIn"  data-wow-duration=".8s" data-wow-delay=".2s">Дарья</h5>
					                	    </div>
					                </div>
					                 <div class="item-owl">
					                	<div class="test-review">
										 <p class="wow fadeInUp"  data-wow-duration=".8s" data-wow-delay=".4s"> {% placeholder left-quotes3 %}<!--<img src="images/left-quotes.png" alt="">-->Делала в этом салоне маникюр. Мне понравилось, сделали довольно быстро и качественно.Проходила с маникюром месяц, ничего не отпало, ничего не скололось. В следующий раз буду еще и педикюр делать. Спасибо мастеру за работу. <!--<img src="images/right-quotes.png" alt="">-->{% placeholder right-quotes3 %}</p>
						                	<!--<img src="images/1.jpg" class="img-responsive" alt=""/>-->
{% placeholder img_1 %}
											 <h5 class="wow bounceIn"  data-wow-duration=".8s" data-wow-delay=".2s">Ольга</h5>
					                	</div>
					                </div>
					                 <div class="item-owl">
					                	<div class="test-review">
										    <p class="wow fadeInUp"  data-wow-duration=".8s" data-wow-delay=".4s"> {% placeholder left-quotes2 %}<!--<img src="images/left-quotes.png" alt="">-->Записывалась на создание образа. Мастер Елена выполнила свою работу изумительно! Весь вечер получала комплименты по поводу своей внешности. Спасибо большое Елене за то, что я была звездой!<!--<img src="images/right-quotes.png" alt="">-->{% placeholder right-quotes %}</p>
						                	<!--<img src="images/3.jpg" class="img-responsive" alt=""/>-->
{% placeholder img_3 %}
											 <h5 class="wow bounceIn"  data-wow-duration=".8s" data-wow-delay=".2s">Ульяна</h5>
					                	</div>
					                </div>
				              </div>
						<!--//screen-gallery-->
					</div>
				</div>
			</div>
		</div>
<!--//reviews-->
	 <!--/gallery-->
	 <div class="portfolio" id="gallery">
		 <div class="container">
		     <div class="sub-head">
					<h3 class="title wow bounceIn"  data-wow-duration=".8s" data-wow-delay=".2s">Наши работы</h3>
					{% placeholder img_border %}
					<!--<img src="images/border.png" alt="">-->
					<p class="wel-text wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".4s">Здесь вы можете посмотреть работы, выполненные нашими мастерами. При выполнении мы учитываем все ваши пожелания и стараемся угодить Вам.</p>
			    </div>
		  <div class="portfolio-top wow fadeInDown animated" data-wow-delay=".5s">
		    <div class="col-md-4 grid slideanim">
				<figure class="effect-layla">
					<a href="#portfolioModal1"  data-toggle="modal">
						{% placeholder img_t1%}
						<!--<img src="images/t1.jpg" alt="img25" class="img-responsive"/>-->
						<figcaption>
						<h4>Ваш <span>Новый</span> Стиль</h4>
						
							
						</figcaption>
					</a>			
				</figure>
			</div>
			<div class="col-md-4 grid slideanim">
				<figure class="effect-layla">
					<a href="#portfolioModal2"  data-toggle="modal">

						{% placeholder img_t2%}
						<!--<img src="images/t2.jpg" alt="img25" class="img-responsive"/>-->
						<figcaption>
							<h4>Ваш <span>Новый</span> Стиль</h4>
						
							
						</figcaption>
					</a>			
				</figure>
			</div>
			<div class="col-md-4 grid slideanim">
				<figure class="effect-layla">
					<a href="#portfolioModal3"  data-toggle="modal">

						{% placeholder img_t3%}
						<!--<img src="images/t3.jpg" alt="img25" class="img-responsive"/>-->
						<figcaption>
							<h4>Ваш <span>Новый</span> Стиль</h4>
						
							
						</figcaption>
					</a>			
				</figure>
			</div>
			
			<div class="clearfix"></div>
		 </div>
		  <div class="portfolio-top two wow fadeInUp animated" data-wow-delay=".5s">
			<div class="col-md-4 grid slideanim">
				<figure class="effect-layla">
					<a href="#portfolioModal4"  data-toggle="modal">

						{% placeholder img_t4%}
						<!--<img src="images/t4.jpg" alt="img25" class="img-responsive"/>-->
						<figcaption>
						<h4>Ваш <span>Новый</span> Стиль</h4>
						
						
						</figcaption>
					</a>			
				</figure>
			</div>
			<div class="col-md-4 grid grid-wi slideanim">
				<figure class="effect-layla">
					<a href="#portfolioModal5"  data-toggle="modal">

						{% placeholder img_t5%}
						<!--<img src="images/t5.jpg" alt="img25" class="img-responsive"/>-->
						<figcaption>
							<h4>Ваш <span>Новый</span> Стиль</h4>
						
						
						</figcaption>
					</a>			
				</figure>
			</div>
			<div class="col-md-4 grid grid-wi slideanim">
				<figure class="effect-layla">
					<a href="#portfolioModal6"  data-toggle="modal">

						{% placeholder img_t6%}
						<!--<img src="images/t6.jpg" alt="img25" class="img-responsive"/>-->
						<figcaption>
							<h4>Ваш <span>Новый</span> Стиль</h4>
						
							
						</figcaption>
					</a>			
				</figure>
			</div>
			<div class="clearfix"></div>
		 </div>
	   </div>
	</div>
 <!--//portfolio-->
<!-- Portfolio Modals -->
<div class="portfolio-modal modal fade slideanim" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
		
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                      <h3>Ваш <span>Новый</span> Стиль</h3>
						
			{% placeholder img_t1_2%}			
                        <!--<img src="images/t1.jpg" class="img-responsive" alt="">-->
                        <p>Создание вечернего макияжа и укладка волос для особенного случая вашей жизни.</p>
                    </div>
                </div>
           
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade slideanim" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
         
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                       <h3>Ваш <span>Новый</span> Стиль</h3>
						
                      
                        {% placeholder img_t2_2%}			
                        <!--<img src="images/t2.jpg" class="img-responsive" alt="">-->
                        <p>Комбинированный маникюр+покрытие гель-лаком.</p>
                    </div>
                </div>
           
        </div>
    </div>
    </div>
<div class="portfolio-modal modal fade slideanim" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
           
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                       <h3>Ваш <span>Новый</span> Стиль</h3>
						{% placeholder img_t3_2%}			
                        <!--<img src="images/t3.jpg" class="img-responsive" alt="">-->
						<p>Окрашивание волос и создание новой стрижки</p>
                    </div>
                </div>
            </div>
       
    </div>
</div>
<div class="portfolio-modal modal fade slideanim" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
			
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                     <<h3>Ваш <span>Новый</span> Стиль</h3>
						
                       
                        {% placeholder img_t4_2%}			
                        <!--<img src="images/t4.jpg" class="img-responsive" alt="">-->
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
            
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade slideanim" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">

                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h3>Ваш <span>Новый</span> Стиль</h3>
						
                       
                        {% placeholder img_t5_2%}			
                        <!--<img src="images/t5.jpg" class="img-responsive" alt="">-->
                        <p>Процедура "счастье для волос".</p>
                    </div>
                </div>
           
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade slideanim" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
           
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                       <h3>Ваш <span>Новый</span> Стиль</h3>
						
                       
                        {% placeholder img_t6_2%}			
                        <!--<img src="images/t6.jpg" class="img-responsive" alt="">-->
                        <p>Мужская стрижка.</p>
                    </div>
                </div>
            </div>
        
    </div>
</div>
<!-- //Portfolio Modals -->

	 <!--/contact-->
	 <div class="section-contact" id="contact">
	    <div class="container">
		    <div class="sub-head">
			     <h3 class="title wow bounceIn"  data-wow-duration=".8s" data-wow-delay=".2s">Связаться с нами</h3>
				 {% placeholder img_border3%}	
			     <!--<img src="images/border.png" alt="">-->
				  <p class="wel-text wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".4s">По всем вопросам и предложениям вы можете связаться с нашим салоном. Если вы сомневаетесь в какой-либо процедуре, мы с радостью проконсультируем вас!.</p>
				
			   </div>
           <div class="contact-main">
				    <div class="col-md-6 contact-grid wow fadeInUp"  data-wow-duration="1s" data-wow-delay=".3s">
						    <form>
									<span class="input input--haruki">
									<input class="input__field input__field--haruki" type="text" id="input-1" placeholder="" required="" />
									<label class="input__label input__label--haruki" for="input-1">
										<span class="input__label-content input__label-content--haruki">Ваше имя</span>
									</label>
									</span>
									<span class="input input--haruki">
									<input class="input__field input__field--haruki" type="text" id="input-3" placeholder="" required="" />
									<label class="input__label input__label--haruki" for="input-3">
										<span class="input__label-content input__label-content--haruki">Ваш Email</span>
									</label>
									</span>
									<span class="input input--haruki lost">
									<textarea class="textarea__field input__field--haruki" type="textarea" id="msg" placeholder="" required=""/></textarea>
									<label class="input__label input__label--haruki" for="textarea">
										<span class="input__label-content input__label-content--haruki">Сообщение</span>
									</label>
									</span>
										<div class="send wow shake"  data-wow-duration="1s" data-wow-delay=".5s">
											<input type="submit" value="Отправить" >
										</div>
						     </form>

					   </div>
					<div class="col-md-6 contact-in wow fadeInUp"  data-wow-duration="1s" data-wow-delay=".5s">
						<h4 class="info">Информация </h4>
						<p class="para1">Наш салон работает 2 года в сфере красоты. Каждый день мы стараемся быть лучше для вас! Ждем всех на приятные процедуры для создания красоты и настроения! Сделаем наш мир красивее! </p>
						<div class="more-address"> 
								<address>
								  <strong class="one">Beauty Corp.</strong><br>
								  Несуществующая улица, 66<br>
								  Екатеринбург<br>
								  <abbr title="Phone">Телефон :</abbr> (343) 345-65-23
								</address>
								<address>
								  <strong class="one">Email</strong><br>
								  <a href="mailto:info@example.com">mail@example.com</a>
							   </address>
						  </div>
					</div>
					
						<div class="clearfix"> </div>
			      </div>
				   <!--map-->
<div class="map wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".5s" style="width: 100%"><iframe width="100%" height="600" src="http://www.citymaps.ie/create-google-map/map.php?width=100%&amp;height=600&amp;hl=en&amp;q=Ekaterinburg+(Beauty%20Bar)&amp;ie=UTF8&amp;t=&amp;z=17&amp;iwloc=A&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="http://www.mapsdirections.info/ro/creeaza-harta-google/">Adaugă harta Google pe un site web</a> na <a href="http://www.mapsdirections.info/ro/">Planificare rută cu Google Maps</a></iframe></div><br />
				    <!--<div class="map wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".5s">
					  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1675115.8258740564!2d-98.4671417929578!3d34.91371150021706!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54eab584e432360b%3A0x1c3bb99243deb742!2sUnited+States!5e0!3m2!1sen!2sin!4v1434956093308"></iframe>
				
					</div>-->
				<!--//map-->
			 </div>
		</div>
		<!--//contact-->
		<!----footer--->
			<div class="footer">
			<div class="container">
				<div class="f-grids">

				<div class="col-md-4 footer-grid wow fadeInDown"  data-wow-duration="1s" data-wow-delay=".3s">
				    <div class="opening_hours">
						 <ul class="times">
							<h3>Часы <span class="opening">Работы</span></h3>
							<li><i class="glyphicon glyphicon-time"> </i><span class="week">Пн</span><div class="hours">9:00 to 19:00</div>  <div class="clearfix"></div></li>
							<li><i class="glyphicon glyphicon-time"> </i><span class="week">Вт</span><div class="hours">9:00 to 19:00</div>  <div class="clearfix"></div></li>
							<li><i class="glyphicon glyphicon-time"> </i><span class="week">Ср</span><div class="hours">9:00 to 19:00</div>  <div class="clearfix"></div></li>
							<li><i class="glyphicon glyphicon-time"> </i><span class="week">Чт</span><div class="hours">9:00 to 19:00</div>  <div class="clearfix"></div></li>
							<li><i class="glyphicon glyphicon-time"> </i><span class="week">Пт</span><div class="hours">9:00 to 19:00</div>  <div class="clearfix"></div></li>
							<li><i class="glyphicon glyphicon-time"> </i><span class="week">Сб</span><div class="hours">9:00 to 19:00</div>  <div class="clearfix"></div></li>
							<li><i class="glyphicon glyphicon-time"> </i><span class="week">Вс</span><div class="hours">9:00 to 19:00</div>  <div class="clearfix"></div></li>
	
						 </ul>
					</div>
				</div>
				<div class="col-md-4 footer-grid wow fadeInDown"  data-wow-duration="1s" data-wow-delay=".3s">
						<h3>Контактная <span class="opening">информация</span></h3>
					<ul class="address">
						 <li>ул. Салонная, 45, 353443 Екатеринбург</li>
						 <li>(343) 435-34-34</li>
						 <li><a class="mail" href="mailto:info@example.com">int@example.com</a></li>
					</ul>
					<div class="support">
						<form class="lost">
						  	<input type="text" placeholder="Email" required="">


						    <input type="submit" value="ОТПРАВИТЬ" class="botton">
						<form>
						     <p>Будем рады любой обратной связи</p>
						</div>


				</div>
					<div class="clearfix"></div>
				</div>
				<div class="copy">
			<p class="wow fadeInUp"  data-wow-duration="1s" data-wow-delay=".3s">&copy; 2016 Beauty Bar</p>
		        </div>
			</div>
		</div>
		<!--//footer-->
			<!--start-smooth-scrolling-->
{% addtoblock "js" %}
						<script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed:1200,
											easingType: 'linear' 
								 		};
										*/
										
										$().UItoTop({ easingType: 'easeOutQuart' });
										
									});
								</script>
{% endaddtoblock %}
		<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- for bootstrap working -->
{% addtoblock "js" %}
		<script src="{{ MEDIA_URL }}js/bootstrap.js"></script>
{% endaddtoblock %}
<!-- //for bootstrap working -->
		<!-- animation-effect -->
{% addtoblock "css" %}
<link href="{{ MEDIA_URL }}css/animate.min.css" rel="stylesheet"> 
{% endaddtoblock %}
{% addtoblock "js" %}
<script src="{{ MEDIA_URL }}js/wow.min.js"></script>
{% endaddtoblock %}
{% addtoblock "js" %}
<script>
 new WOW().init();
</script>
{% endaddtoblock %}
<!-- //animation-effect -->
      {% render_block "js" %}
</body>
</html>
