<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
{% load cms_tags sekizai_tags %}
<html>
<head>
<title>H &amp; B a Beauty and spa Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="New Hair Style Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free web designs for Nokia, Samsung, LG,sonyEricsson, Motorola web design" />
{% addtoblock "js" %}
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
{% endaddtoblock %}
{% addtoblock "css" %}
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href='//fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:700,700italic,800,300,300italic,400italic,400,600,600italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic' rel='stylesheet' type='text/css'>
<!--Custom-Theme-files-->
	<link href="css/style.css" rel='stylesheet' type='text/css' />	
    <link rel="stylesheet" href="css/slider.css">
{% endaddtoblock %}
{% addtoblock "js" %}
    <script src="js/jquery.min.js"> </script>
<!--/script-->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
</script>
{% endaddtoblock %}
<!--Custom-Theme-files-->
 {% render_block "css" %}
</head>
	<body>
	{% cms_toolbar %}

	<div class="top_banner">
		<!-- SVG Arrows -->
		<div class="svg-wrap">
			<svg width="64" height="64" viewBox="0 0 64 64">
				<path id="arrow-left" d="M46.077 55.738c0.858 0.867 0.858 2.266 0 3.133s-2.243 0.867-3.101 0l-25.056-25.302c-0.858-0.867-0.858-2.269 0-3.133l25.056-25.306c0.858-0.867 2.243-0.867 3.101 0s0.858 2.266 0 3.133l-22.848 23.738 22.848 23.738z" />
			</svg>
			<svg width="64" height="64" viewBox="0 0 64 64">
				<path id="arrow-right" d="M17.919 55.738c-0.858 0.867-0.858 2.266 0 3.133s2.243 0.867 3.101 0l25.056-25.302c0.858-0.867 0.858-2.269 0-3.133l-25.056-25.306c-0.858-0.867-2.243-0.867-3.101 0s-0.858 2.266 0 3.133l22.848 23.738-22.848 23.738z" />
			</svg>
		</div>
		<div class="menu wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">
			<div class="socialCircle-container">
			  <div class="socialCircle-item"><a class="scroll" href="#contact"><i class="glyphicon glyphicon-envelope"></i></a></div>
			  <div class="socialCircle-item"><a class="scroll" href="#gallery"><i class="glyphicon glyphicon-picture"></i></a></div>
			  <div class="socialCircle-item"><a class="scroll" href="#review"><i class="glyphicon glyphicon-retweet"></i></a></div>
			  <div class="socialCircle-item"><a class="scroll" href="#staff"><i class="glyphicon glyphicon-briefcase"></i></a></div>
			  <div class="socialCircle-item"><a class="scroll" href="#service"><i class="glyphicon glyphicon-cog"></i></a></div>
			  <div class="socialCircle-item"><a class="scroll" href="#promotion"><i class="glyphicon glyphicon-bullhorn"></i></a></div>
              <div class="socialCircle-center closed"><i class="fa fa-share-alt"></i></div>
			</div>
		</div>
		<script src="js/socialCircle.js"></script> 
		<script type="text/javascript">
		$( ".socialCircle-center" ).socialCircle({
			rotate: 0,
			radius:140,
			circleSize: 2,
			speed:500
		});
		</script>
		<div class="logo wow fadeInRight" data-wow-duration=".8s" data-wow-delay=".5s">
			<h1><a href="index.html">H <span>&amp; </span> B</a></h1>
		</div>
		
		<div class="sleekslider" id="home">
			<!-- Slider Pages -->
			<div class="slide active bg-1">
				<div class="slide-container">
					<div class="slide-content">
						<p class="wow fadeInLeft" data-wow-duration=".8s" data-wow-delay=".2s">Hair and Beauty Salon</p>	
					</div>

				</div>
			</div>
			<div class="slide bg-2">
				<div class="slide-container">
					<div class="slide-content">
						<p class="wow fadeInLeft" data-wow-duration=".8s" data-wow-delay=".4s">We care for your Hair</p>	

					</div>
				</div>				
			</div>
			<div class="slide bg-3">
				<div class="slide-container">
					<div class="slide-content">
						<p class="wow fadeInLeft" data-wow-duration=".8s" data-wow-delay=".4s">New season Hair syles</p>	

					</div>
				</div>				
			</div>
			<div class="slide bg-4">
				<div class="slide-container">
					<div class="slide-content">
						<p class="wow fadeInLeft" data-wow-duration=".8s" data-wow-delay=".4s">Express your Style in length!</p>	

					</div>
				</div>				
			</div>
			<div class="slide bg-5">
				<div class="slide-container">
					<div class="slide-content">
						<p class="wow fadeInLeft" data-wow-duration=".8s" data-wow-delay=".4s">Welcome to Hair salon</p>	

					</div>
				</div>				
			</div>

			<!-- Navigation Arrows with Thumbnails -->
			<nav class="nav-split">
				<a class="prev" href="">
					<span class="icon-wrap"><svg class="icon" width="22" height="22" viewBox="0 0 64 64"><use xlink:href="#arrow-left" /></svg></span>
					<div>
						<h3>test</h3>
						<img alt="Previous thumb"/>
					</div>
				</a>
				<a class="next" href="">
					<span class="icon-wrap"><svg class="icon" width="22" height="22" viewBox="0 0 64 64"><use xlink:href="#arrow-right" /></svg></span>
					<div>
						<h3>test</h3>
						<img alt="Next thumb"/>
					</div>
				</a>
			</nav>

			<!-- Pagination -->
			<nav class="pagination">
				<span class="current"></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</nav>

			<!-- Navigation Tabs -->
			<nav class="tabs">
				<div class="tab-container">
					<ul>
						<li class="current"><a href="#"><span>01</span> Slide</a></li>
						<li><a href="#"><span>02</span> Slide</a></li>
						<li><a href="#"><span>03</span> Slide</a></li>
						<li><a href="#"><span>04</span> Slide</a></li>
						<li><a href="#"><span>05</span> Slide</a></li>
					</ul>
				</div>
			</nav>
		</div>

		<!-- JavaScripts -->
		<script type="text/javascript" src="js/sleekslider.min.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
      <!--welcome-->
 </div>
	<div class="welcome" id="promotion">
		<div class="container">
		   <div class="sub-head">
			<h2 class="title wow bounceIn"  data-wow-duration=".8s" data-wow-delay=".2s">Our Promotions</h2>
			    <img src="images/border.png" alt="">
			</div>
			<div class="welcome-info">
				<p class="wel-text wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".4s">Nam libero tempore cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus omnis optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.</p>			
					<div class="welcome-row">
						<div class="col-md-6 welcome-grid wow fadeInLeft" data-wow-duration=".8s" data-wow-delay=".3s">
							<div class="welcome-left">
								<div class="welcome-grids">
								   <div class="promo-info">
								       <h5 class="promo-desc">40%</h5>
										<p class="promo-bg2">Discount</p>
									</div>
								</div>
						     </div>
					       <div class="promo-box welcome-mdl">
								<div class="promo-box-title title-with-divider">
									<h3>Only until March 30 Discount</h3>
								</div>
								<p>Maecenas malesuada. Praesent congue erat at massa. Sed cursus turpis vitae tortor. Donec posuere vulputate arcu. Phasellus accum</p>
					      </div>
					   <div class="clearfix"> </div>
					</div>
					<div class="col-md-6 welcome-grid wow fadeInRight" data-wow-duration=".8s" data-wow-delay=".3s">
					   <div class="welcome-left">
								<div class="welcome-grids">
								   <div class="promo-info">
								       <h5 class="promo-desc">30%</h5>
										<p class="promo-bg2">Discount</p>
									</div>
								</div>
						     </div>
					       <div class="promo-box welcome-mdl">
								<div class="promo-box-title title-with-divider">
									<h3>Only until Aug 30 Discount</h3>
								</div>
								<p>Maecenas malesuada. Praesent congue erat at massa. Sed cursus turpis vitae tortor. Donec posuere vulputate arcu. Phasellus accum</p>
					      </div>
					   <div class="clearfix"> </div>
					</div>
				  <div class="clearfix"> </div>
					
				</div>
			</div>
		</div>
	</div>
	<!--//welcome-->
<div class="trainee-section" id="service">
		<div class="container">
		      <div class="sub-head">
			     <h3 class="title wow bounceIn"  data-wow-duration=".8s" data-wow-delay=".2s">Our Services</h3>
			     <img src="images/border.png" alt="">
				 <p class="wel-text wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".4s">Nam libero tempore cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus omnis optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.</p>
			   </div>
			<div class="trainee-grids">
				<div class="col-md-4 trainee-grid wow fadeInLeft" data-wow-duration=".8s" data-wow-delay=".4s">
					  <a href="index.html"><img src="images/b1.jpg" class="img-responsive" alt=""></a>
					   <h4 class="title">Hair Style</h4>
						 <div class="date">
							 <lable>30</lable>
							 <span>Mar</span>
						 </div>
					  <a href="index.html"><h4>Lorem ipsum dolor sit amet,</h4><h5> consectetuer adipiscing.</h5></a>
					  
					 <p>Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Lorem ipsum dolor sit amet,…</p>
				</div>
				<div class="col-md-4 trainee-grid wow fadeInUp animated animated animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUpBig;">
					  <a href="index.html"><img src="images/b2.jpg" class="img-responsive" alt=""></a>
					   <h4 class="title">Makeup</h4>
						<div class="date">
							 <lable>30</lable>
							 <span>Aug</span>
						 </div>
					  <a href="index.html"><h4>Lorem ipsum dolor sit amet,</h4><h5> consectetuer adipiscing.</h5></a>
					 <p>Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Lorem ipsum dolor sit amet,…</p>
				</div>
				<div class="col-md-4 trainee-grid lost wow fadeInRight" data-wow-duration=".8s" data-wow-delay=".4s">
					 <a href="index.html"><img src="images/b3.jpg" class="img-responsive" alt=""></a>
					  <h4 class="title">Manicure</h4>
						 <div class="date">
							 <lable>15</lable>
							 <span>Nov</span>
						</div>
					 <a href="index.html"> <h4>Lorem ipsum dolor sit amet,</h4><h5> consectetuer adipiscing.</h5></a>
					 <p>Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Lorem ipsum dolor sit amet,…</p>
				</div>
				<div class="clearfix"></div>
		   </div>
		</div>
	</div>
	<!--/reviews-->
		<div id="staff" class="reviews">
		   <div class="container">
		     <div class="sub-head">
			     <h3 class="title wow bounceIn"  data-wow-duration=".8s" data-wow-delay=".2s">Our Staff</h3>
			     <img src="images/border.png" alt="">
				 <p class="wel-text wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".4s">Nam libero tempore cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus omnis optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.</p>
			   </div>
			     <div class="staff-section">
				    <div class="col-md-4 staff-grid  animated wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
				          <div class="view fifth-effect">
							 <a href="index.html" title="Full Image"><img src="images/staff1.jpg" /></a>
							 <div class="mask"></div>
						  </div>
							<h4>Jennifer</h4>
						  <p>Nam libero tempore cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere.</p>
							<ul class="social-icons">
								<li><a href="#"> </a></li>
								<li><a href="#" class="fb"> </a></li>
								<li><a href="#" class="in"> </a></li>
								<li><a href="#" class="dott"> </a></li>
							</ul>						  
				     </div>
					  <div class="col-md-4 staff-grid animated wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="500ms">
				         <div class="view fifth-effect">
							 <a href="index.html" title="Full Image"><img src="images/staff2.jpg" /></a>
							 <div class="mask"></div>
						</div>  
						<h4>Riya John</h4>
						  <p>Nam libero tempore cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere.</p>
							<ul class="social-icons">
								<li><a href="#"> </a></li>
								<li><a href="#" class="fb"> </a></li>
								<li><a href="#" class="in"> </a></li>
								<li><a href="#" class="dott"> </a></li>
							</ul>						
				     </div>
					 <div class="col-md-4 staff-grid animated wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms">
				          <div class="view fifth-effect">
							 <a href="index.html" title="Full Image"><img src="images/staff3.jpg" /></a>
							 <div class="mask"></div>
						  </div>
						  <h4>Jessica</h4>
						  <p>Nam libero tempore cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere.</p>
							<ul class="social-icons">
								<li><a href="#"> </a></li>
								<li><a href="#" class="fb"> </a></li>
								<li><a href="#" class="in"> </a></li>
								<li><a href="#" class="dott"> </a></li>
							</ul>
						  
				     </div>
					   <div class="clearfix"></div>
				 </div>
	      </div>
	</div>
<!--/reviews-->
	<div id="review" class="reviews">
		<div class="container">
		 <div class="sub-head">
			     <h3 class="title review wow bounceIn"  data-wow-duration=".8s" data-wow-delay=".2s">Our Reviews</h3>
			     <img src="images/border2.png" alt="">
				 <h4 class="text welcome-grid wow flash" data-wow-duration=".8s" data-wow-delay=".4s">Giving you a fabulous haircut with acceptable service</h4>
			   </div>
				<div class="test-monials">
				<!--//screen-gallery-->
						<div class="sreen-gallery-cursual">
							 <!-- required-js-files-->
							<link href="css/owl.carousel.css" rel="stylesheet">
							    <script src="js/owl.carousel.js"></script>
							        <script>
							    $(document).ready(function() {
							      $("#owl-demo").owlCarousel({
							        items : 1,
							        lazyLoad : true,
							        autoPlay : true,
							        navigation : false,
							        navigationText :  false,
							        pagination : true,
							      });
							    });
							    </script>
								 <!--//required-js-files-->
						       <div id="owl-demo" class="owl-carousel">
					                 <div class="item-owl">
					                		<div class="test-review">
											   <p class="wow fadeInUp"  data-wow-duration=".8s" data-wow-delay=".4s"><img src="images/left-quotes.png" alt=""> Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum stet clita kasd gubergren <img src="images/right-quotes.png" alt=""></p>
						                	  <img src="images/2.jpg" class="img-responsive" alt=""/>
											  <h5 class="wow bounceIn"  data-wow-duration=".8s" data-wow-delay=".2s">Dennis Victoria,</h5>
					                	    </div>
					                </div>
					                 <div class="item-owl">
					                	<div class="test-review">
										 <p class="wow fadeInUp"  data-wow-duration=".8s" data-wow-delay=".4s"> <img src="images/left-quotes.png" alt="">Polite sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum stet clita kasd gubergren <img src="images/right-quotes.png" alt=""></p>
						                	<img src="images/1.jpg" class="img-responsive" alt=""/>
											 <h5 class="wow bounceIn"  data-wow-duration=".8s" data-wow-delay=".2s">Dennis Sovika,</h5>
					                	</div>
					                </div>
					                 <div class="item-owl">
					                	<div class="test-review">
										     <p class="wow fadeInUp"  data-wow-duration=".8s" data-wow-delay=".4s"><img src="images/left-quotes.png" alt=""> Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum stet clita kasd gubergren <img src="images/right-quotes.png" alt=""></p>
						                	<img src="images/3.jpg" class="img-responsive" alt=""/>
											 <h5 class="wow bounceIn"  data-wow-duration=".8s" data-wow-delay=".2s">Dennis Leena,</h5>
					                	</div>
					                </div>
				              </div>
						<!--//screen-gallery-->
					</div>
				</div>
			</div>
		</div>
<!--//reviews-->
	 <!--/gallery-->
	 <div class="portfolio" id="gallery">
		 <div class="container">
		     <div class="sub-head">
					<h3 class="title wow bounceIn"  data-wow-duration=".8s" data-wow-delay=".2s">Our Gallery</h3>
					<img src="images/border.png" alt="">
					<p class="wel-text wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".4s">Nam libero tempore cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus omnis optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.</p>
			    </div>
		  <div class="portfolio-top wow fadeInDown animated" data-wow-delay=".5s">
		    <div class="col-md-4 grid slideanim">
				<figure class="effect-layla">
					<a href="#portfolioModal1"  data-toggle="modal">

						<img src="images/t1.jpg" alt="img25" class="img-responsive"/>
						<figcaption>
						<h4>New <span>Hair</span> Style</h4>
						
							
						</figcaption>
					</a>			
				</figure>
			</div>
			<div class="col-md-4 grid slideanim">
				<figure class="effect-layla">
					<a href="#portfolioModal2"  data-toggle="modal">

						<img src="images/t2.jpg" alt="img25" class="img-responsive"/>
						<figcaption>
							<h4>New <span>Hair</span> Style</h4>
						
							
						</figcaption>
					</a>			
				</figure>
			</div>
			<div class="col-md-4 grid slideanim">
				<figure class="effect-layla">
					<a href="#portfolioModal3"  data-toggle="modal">

						<img src="images/t3.jpg" alt="img25" class="img-responsive"/>
						<figcaption>
							<h4>New <span>Hair</span> Style</h4>
						
							
						</figcaption>
					</a>			
				</figure>
			</div>
			
			<div class="clearfix"></div>
		 </div>
		  <div class="portfolio-top two wow fadeInUp animated" data-wow-delay=".5s">
			<div class="col-md-4 grid slideanim">
				<figure class="effect-layla">
					<a href="#portfolioModal4"  data-toggle="modal">

						<img src="images/t4.jpg" alt="img25" class="img-responsive"/>
						<figcaption>
						<h4>New <span>Hair</span> Style</h4>
						
						
						</figcaption>
					</a>			
				</figure>
			</div>
			<div class="col-md-4 grid grid-wi slideanim">
				<figure class="effect-layla">
					<a href="#portfolioModal5"  data-toggle="modal">

						<img src="images/t5.jpg" alt="img25" class="img-responsive"/>
						<figcaption>
							<h4>New <span>Hair</span> Style</h4>
						
						
						</figcaption>
					</a>			
				</figure>
			</div>
			<div class="col-md-4 grid grid-wi slideanim">
				<figure class="effect-layla">
					<a href="#portfolioModal6"  data-toggle="modal">

						<img src="images/t6.jpg" alt="img25" class="img-responsive"/>
						<figcaption>
							<h4>New <span>Hair</span> Style</h4>
						
							
						</figcaption>
					</a>			
				</figure>
			</div>
			<div class="clearfix"></div>
		 </div>
	   </div>
	</div>
 <!--//portfolio-->
<!-- Portfolio Modals -->
<div class="portfolio-modal modal fade slideanim" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
		
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                      <h3>New <span>Hair</span> Style</h3>
						
						
                        <img src="images/t1.jpg" class="img-responsive" alt="">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
           
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade slideanim" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
         
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                       <h3>New <span>Hair</span> Style</h3>
						
                      
                        <img src="images/t2.jpg" class="img-responsive" alt="">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
           
        </div>
    </div>
    </div>
<div class="portfolio-modal modal fade slideanim" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
           
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                       <h3>New <span>Hair</span> Style</h3>
						<img src="images/t3.jpg" class="img-responsive" alt="">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
            </div>
       
    </div>
</div>
<div class="portfolio-modal modal fade slideanim" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
			
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                     <h3>New <span>Hair</span> Style</h3>
						
                       
                        <img src="images/t4.jpg" class="img-responsive" alt="">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
            
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade slideanim" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">

                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h3>New <span>Hair</span> Style</h3>
						
                       
                        <img src="images/t5.jpg" class="img-responsive" alt="">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
           
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade slideanim" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
           
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                       <h3>New <span>Hair</span> Style</h3>
						
                       
                        <img src="images/t6.jpg" class="img-responsive" alt="">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
            </div>
        
    </div>
</div>
<!-- //Portfolio Modals -->

	 <!--/contact-->
	 <div class="section-contact" id="contact">
	    <div class="container">
		    <div class="sub-head">
			     <h3 class="title wow bounceIn"  data-wow-duration=".8s" data-wow-delay=".2s">Contact Us</h3>
			     <img src="images/border.png" alt="">
				  <p class="wel-text wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".4s">Nam libero tempore cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus omnis optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.</p>
				
			   </div>
           <div class="contact-main">
				    <div class="col-md-6 contact-grid wow fadeInUp"  data-wow-duration="1s" data-wow-delay=".3s">
						    <form>
									<span class="input input--haruki">
									<input class="input__field input__field--haruki" type="text" id="input-1" placeholder="" required="" />
									<label class="input__label input__label--haruki" for="input-1">
										<span class="input__label-content input__label-content--haruki">Your Name</span>
									</label>
									</span>
									<span class="input input--haruki">
									<input class="input__field input__field--haruki" type="text" id="input-3" placeholder="" required="" />
									<label class="input__label input__label--haruki" for="input-3">
										<span class="input__label-content input__label-content--haruki">Your Email</span>
									</label>
									</span>
									<span class="input input--haruki lost">
									<textarea class="textarea__field input__field--haruki" type="textarea" id="msg" placeholder="" required=""/></textarea>
									<label class="input__label input__label--haruki" for="textarea">
										<span class="input__label-content input__label-content--haruki">Your Message</span>
									</label>
									</span>
										<div class="send wow shake"  data-wow-duration="1s" data-wow-delay=".5s">
											<input type="submit" value="Send" >
										</div>
						     </form>

					   </div>
					<div class="col-md-6 contact-in wow fadeInUp"  data-wow-duration="1s" data-wow-delay=".5s">
						<h4 class="info">Our Info </h4>
						<p class="para1">Lorem ipsum dolor sit amet. Ut enim ad minim veniam.Sunt in culpa qui officia deserunt mollit anim id est laborum.Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature. </p>
						<div class="more-address"> 
								<address>
								  <strong class="one">Twitter, Inc.</strong><br>
								  795 Folsom Ave, Suite 600<br>
								  San Francisco, CA 94107<br>
								  <abbr title="Phone">Phone :</abbr> (123) 456-7890
								</address>
								<address>
								  <strong class="one">Full Name</strong><br>
								  <a href="mailto:info@example.com">mail@example.com</a>
							   </address>
						  </div>
					</div>
					
						<div class="clearfix"> </div>
			      </div>
				   <!--map-->
				    <div class="map wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".5s">
					  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1675115.8258740564!2d-98.4671417929578!3d34.91371150021706!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54eab584e432360b%3A0x1c3bb99243deb742!2sUnited+States!5e0!3m2!1sen!2sin!4v1434956093308"></iframe>
					</div>
				<!--//map-->
			 </div>
		</div>
		<!--//contact-->
		<!----footer--->
			<div class="footer">
			<div class="container">
				<div class="f-grids">
				<div class="col-md-4 footer-grid wow fadeInDown"  data-wow-duration="1s" data-wow-delay=".3s">
				<h3>Recent <span class="opening">Posts</span></h3>
				  <a href="#"><h5>The do’s and don’ts of running for fitness</h5></a>
				  <p>Sed rhoncus nulla turpis, vitae rutrum velit iaculis et. Curabitur vestibulum, erat non im</p>
				   <p class="month">April 1,2016 , By <a href="#"> Robert Louise</a></p>
				  <a href="#"><h5>The do’s and don’ts of running for fitness</h5></a>
				  <p>Sed rhoncus nulla turpis, vitae rutrum velit iaculis et. Curabitur vestibulum, erat non im</p>
				  <p class="month">April 1,2016 , By  <a href="#">Robert Louise</a></p>
				</div>
				<div class="col-md-4 footer-grid wow fadeInDown"  data-wow-duration="1s" data-wow-delay=".3s">
				    <div class="opening_hours">
						 <ul class="times">
							<h3>Opening <span class="opening">Hours</span></h3>
							<li><i class="glyphicon glyphicon-time"> </i><span class="week">Monday</span><div class="hours">9:00am to 10:00pm</div>  <div class="clearfix"></div></li>
							<li><i class="glyphicon glyphicon-time"> </i><span class="week">Tuesday</span><div class="hours">10:00am to 10:00pm</div>  <div class="clearfix"></div></li>
							<li><i class="glyphicon glyphicon-time"> </i><span class="week">Wednesday</span><div class="hours">9:00am to 10:00pm</div>  <div class="clearfix"></div></li>
							<li><i class="glyphicon glyphicon-time"> </i><span class="week">Thursday</span><div class="hours">9:00am to10:00pm</div>  <div class="clearfix"></div></li>
							<li><i class="glyphicon glyphicon-time"> </i><span class="week">Friday</span><div class="hours">9:00am to 11:00pm</div>  <div class="clearfix"></div></li>
							<li><i class="glyphicon glyphicon-time"> </i><span class="week">Saturday</span><div class="hours">9:00am to 2:00pm</div>  <div class="clearfix"></div></li>
							<li><i class="glyphicon glyphicon-time"> </i><span class="week">Sunday</span><div class="hours">Closed</div>  <div class="clearfix"></div></li>
	
						 </ul>
					</div>
				</div>
				<div class="col-md-4 footer-grid wow fadeInDown"  data-wow-duration="1s" data-wow-delay=".3s">
						<h3>Contact <span class="opening">Info</span></h3>
					<ul class="address">
						 <li>123, new street, 129907 New York</li>
						 <li>023 456 23456</li>
						 <li><a class="mail" href="mailto:info@example.com">123 int@example.com</a></li>
					</ul>
					<div class="support">
						<form class="lost">
						  	<input type="text" placeholder="Email" required="">


						    <input type="submit" value="SUBMIT" class="botton">
						<form>
						     <p>Lorem ipsum dolor sit amet conse aliqua. Ut enim ad minim veniam Lorem ctetur adipisicing .</p>
						</div>


				</div>
					<div class="clearfix"></div>
				</div>
				<div class="copy">
			<p class="wow fadeInUp"  data-wow-duration="1s" data-wow-delay=".3s">&copy; 2016 H &amp; B. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
		        </div>
			</div>
		</div>
		<!--//footer-->
			<!--start-smooth-scrolling-->
						<script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed:1200,
											easingType: 'linear' 
								 		};
										*/
										
										$().UItoTop({ easingType: 'easeOutQuart' });
										
									});
								</script>
		<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- for bootstrap working -->
		<script src="js/bootstrap.js"></script>
<!-- //for bootstrap working -->
		<!-- animation-effect -->
<link href="css/animate.min.css" rel="stylesheet"> 
<script src="js/wow.min.js"></script>
<script>
 new WOW().init();
</script>
<!-- //animation-effect -->
      {% render_block "js" %}
</body>
</html>
